# sveltekit
/build
/.svelte-kit
/package
package-lock.json
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.sveltekit/
.env
saved-files/**